.find{
    display: flex;
    justify-content: center;
}
.App button{
    cursor: pointer;
    margin-left: 20px;
    transition: .3s;

}
.App button, .App input{
font-size: 30px;
border: 2px black solid;
background-color: white;
margin-bottom: 20px;
}
.App button:hover {
    background-color: black;
    color: white;
}
.result{
    text-align: center;
    border-top: 2px solid grey;
}